div.profile-description-de {
  padding: 6px 30px 6px 50px;
}

.profile-description {
  height: 108px;
  box-sizing: border-box;
  margin-top: -108px;
  text-align: left;
  color: white;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 1.1px;
  transition: padding 1s;
  padding: 10px 30px 6px 50px;
  background: #b39933;
  grid-area: description;

  &__br {
    display: none;
  }
}
