.sections-wrap {
  &__contact-links {
    width: 400px;
    background: #87878770;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #4ea3ee47;
  }

  &__contact-link img {
    transition: transform 0.4s cubic-bezier(0, 1.84, 0.73, 0.81);
    cursor: pointer;
    will-change: transform;
    transform-origin: center;
  }

  &__contact-link:hover img {
    transform: scale(1.2);
  }

  &__contact-link:active img {
    transform: scale(1);
  }

  &__contact-link:nth-child(1) img {
    width: 21px;
    position: relative;
    top: 2px;
  }

  &__contact-link:nth-child(2) img {
    width: 25px;
    position: relative;
    top: 1px;
  }

  &__contact-link:nth-child(3) img {
    width: 28px;
  }

  &__contact-link:nth-child(4) img {
    width: 21px;
    position: relative;
    top: 3px;
  }

  &__contact-link:last-child {
    background: white;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
  }
  &__contact-link:last-child img {
    width: 28px;
    height: 28px;
  }

  &__contact-link-anchor {
    display: block;
    height: 28px;
    width: 28px;
  }

  // &__contact-link:last-child img {
  //   width: 27px;
  // }

  // &__contact-link img {
  //   width: 24px;
  // }
  .icon-wrapper {
    width: 40px; // Фиксированный размер
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .icon-wrapper img {
  //   width: 100%;
  //   height: 100%;
  //   transition: transform 0.3s ease;
  // }

  // .icon-wrapper:hover img {
  //   transform: scale(1.2);
  // }
}

#contact-tt {
  position: absolute;

  background: linear-gradient(
    90deg,
    rgba(255, 240, 208, 1) 0%,
    rgba(255, 246, 224, 1) 47%,
    rgba(255, 243, 216, 1) 100%
  );
  opacity: 1;
  letter-spacing: 1.5px;
  color: rgb(92, 92, 92);
  border-left: 1px solid #e8cfc7;
  border-bottom: 1px solid #e4cac1;
}
