@media screen and (max-width: 1420px) {
  .cv {
    margin: 20px 0 0 220px;
    transform: scale(0.88);
  }

  .iphone {
    right: 42px;
    transform: rotate(-13deg);
  }

  .projects {
    left: 17px;
  }

  .heft {
    left: -356px;
    top: -40px;
  }

  .heft.animate-in {
    top: 7px;
  }
}

@media screen and (max-width: 1300px) {
  .flex-wrap {
    max-width: none;
    width: 96%;
  }

  .ihpone {
    height: 272px;
    right: 48px;
    top: 394px;
    width: 156px;
  }

  .cup {
    height: 177px;
    right: 45px;
    top: 95px;
    width: 200px;
  }

  .project {
    left: 10px;

    &--animated {
      transform: rotate(-27deg);
    }
  }
}

@media screen and (max-width: 1200px) {
  .iphone {
    width: 125px;
    height: 249px;
    left: 60px;
    transform: rotate(-13deg) scale(0.75);
    top: 613px;
  }

  .get {
    left: 92px;
    top: 44px;
  }

  .cup {
    width: 100px;
    height: 174px;
    right: 1px;
  }

  .projects {
    position: relative;
    left: 31px;
    top: -67px;

    &__container {
      transform: scale(0.8);
      top: -45px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .flex-wrap {
    justify-content: space-between;
    overflow: hidden;
  }

  .projects {
    right: 8px;
    left: unset;
    align-items: flex-end;
    height: 392px;

    &__container {
      flex-wrap: wrap;
      width: 200px;
      height: 90px;
      margin-left: -18px;
    }
  }

  .get {
    left: -10px;
    top: 234px;
  }

  .cup {
    top: 469px;
    left: 97px;
    width: 150px;
  }
}

@media screen and (max-width: 920px) {
  .cv {
    margin: -30px 0 0 -55px;
    transform: scale(0.7);
  }
  .heft {
    left: -70px;
    z-index: 0;
  }

  .heft.animate-in {
    z-index: 1;
  }

  & .cv.animate-in {
    animation: rotare-cv-i 1s forwards;
  }

  @keyframes rotare-cv-i {
    from {
      transform: skew(-10deg, 10deg) scale(0.3) translate(1200px, -350px)
        rotate(48deg);
    }
    50% {
      transform: scale(0.3);
      //
    }

    to {
      transform: skew(0deg, 0deg) scale(0.9);
    }
  }

  .flex-wrap {
    max-width: none;
    justify-content: end;
    width: 98%;
  }

  .projects {
    left: 2%;
    align-items: flex-start;
    height: 333px;
    top: 0;
    transform: scale(0.75);

    &__container {
      transform: rotate(4deg);
    }
  }

  .iphone {
    display: none;
  }
  .project__container {
    box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.35);
  }

  .get {
    left: 5px;
    top: -151px;
  }

  .cup {
    display: none;
  }

  .pen {
    left: 285px;
    top: -86px;
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 850px) {
  .projects {
    left: -40px;
  }
}

@media screen and (min-width: 633px) and (max-width: 767px) and (orientation: portrait) {
  .pen,
  .cup,
  .iphone,
  .projects {
    display: none;
  }
}

@media screen and (max-width: 633px) {
  .pen,
  .cup,
  .iphone,
  .projects {
    display: none;
  }
  .heft {
    display: none;
  }

  .App {
    position: absolute;
  }

  .App,
  .flex-wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .cv {
    width: 100%;
    height: 100vh;
    margin: 0;
    transform: none;

    & .header {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      justify-content: end;
      width: 100%;
      gap: 8vw;
      height: 35px;
      justify-self: left;
      z-index: 2;
      padding-left: 0;
    }

    & .sections-wrap h3 span {
      margin-left: -40px;
    }

    & .sidebar {
      width: 196px;
    }

    & .sections-wrap {
      //left: -4px;
    }

    & .sections-wrap__contacts {
      font-size: 8px;
      left: -38px;
    }
    & .sections-wrap__contactme {
      width: 178px;
    }

    & .sections-wrap__contact-styles {
      font-size: 8px;
    }

    & .sections-wrap h3 {
      width: 90px;
    }

    &__sections {
      padding-left: 20px;
    }

    & .sections-wrap h3 span {
      margin-left: -64px;
    }

    & .aboutMe2 {
      display: none;
    }
    & .aboutMe {
      gap: 0;
    }

    & div.sections-wrap-about {
      margin-left: 0;
    }

    &__block-fon {
      position: relative;
      top: 0;
      height: 200px;
    }

    &__footer {
      position: relative;
    }
  }

  .cv .main-info {
    height: auto;
    padding-left: 28px;
    box-sizing: border-box;
    margin-top: -10px;
    position: relative;
    z-index: 1;

    &__main-photo {
      width: 200px;
      height: 165px;
      background-size: 100%;
      background-repeat: no-repeat;
      border: 2px solid white;
      background-position: 0px -12px;
    }

    &__name {
      letter-spacing: 4px;
      font-size: 22px;
      margin: -10px 0 0 20px;
      line-height: 22px;
    }

    &__name-block {
      width: 400px;
      height: 114px;
      position: relative;
    }

    &__specialitat {
      font-size: 12px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      transform: none;
    }
  }
}

@page {
  size: auto;
  margin: 0mm;
}
