@media screen and (max-width: 1420px) {
}

@media screen and (max-width: 1300px) {
  .flex-wrap {
    max-width: none;
    width: 96%;
  }

  .ihpone {
    height: 272px;
    right: 48px;
    top: 394px;
    width: 156px;
  }

  .cup {
    height: 177px;
    right: 45px;
    top: 95px;
    width: 200px;
  }

  .project {
    left: 10px;

    &--animated {
      transform: rotate(-27deg);
    }
  }
}

@media screen and (max-width: 1200px) {
  .iphone {
    width: 125px;
    height: 249px;
    left: 60px;
    transform: rotate(-13deg) scale(0.75);
    top: 613px;
  }

  .get {
    left: 92px;
    top: 44px;
  }

  .cup {
    width: 100px;
    height: 174px;
    right: 1px;
  }

  .projects {
    position: relative;
    left: 31px;
    top: -67px;

    &__container {
      transform: scale(0.8);
      top: -45px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .flex-wrap {
    justify-content: space-between;
    overflow: hidden;
  }

  .projects {
    right: 8px;
    left: unset;
    align-items: flex-end;
    height: 392px;

    &__container {
      flex-wrap: wrap;
      width: 200px;
      height: 90px;
      margin-left: -18px;
    }
  }

  .get {
    left: -10px;
    top: 234px;
  }

  .cup {
    top: 469px;
    left: 97px;
    width: 150px;
  }
}

@media screen and (max-width: 920px) {
  .cv {
    margin: -30px 0 0 -55px;
    transform: scale(0.7);
  }
  .heft {
    left: -70px;
    z-index: 0;
  }

  .heft.animate-in {
    z-index: 1;
  }

  & .cv.animate-in {
  }

  .flex-wrap {
    max-width: none;
    justify-content: end;
    width: 98%;
  }

  .projects {
    left: 2%;
    align-items: flex-start;
    height: 333px;
    top: 0;
    transform: scale(0.75);

    &__container {
      transform: rotate(4deg);
    }
  }

  .iphone {
    display: none;
  }
  .project__container {
    box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.35);
  }

  .get {
    left: 5px;
    top: -151px;
  }

  .cup {
    display: none;
  }

  .pen {
    left: 285px;
    top: -86px;
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 850px) {
  .projects {
    left: -40px;
  }
}

@media screen and (min-width: 633px) and (max-width: 767px) and (orientation: portrait) {
  .pen,
  .cup,
  .iphone,
  .projects {
    display: none;
  }
}

@media screen and (max-width: 633px) {
  .pen,
  .cup,
  .iphone,
  .projects {
    display: none;
  }
  .flex-wrap div.heft {
    width: 100%;
    height: 100%;
    left: 0;
    background-position: center 100px;
  }

  .flex-wrap div.heft .overlay {
    width: 93%;
    height: 62%;
    top: 178px;
    left: 16px;
  }
  .flex-wrap div.heft .overlay span {
    font-size: 5em;
  }

  .flex-wrap div.heft .overlay img {
    width: 90%;
  }
  .flex-wrap div.heft .viewer {
    width: 92%;
    height: 61vh;
    top: 177px;
    left: 18px;
    background: #fff;
    overflow: hidden;
  }

  .flex-wrap div.heft .cls {
    top: 147px;
    right: 15px;
  }

  div.heft.animate-in {
    animation: rotate-heft-in_mobile 1s forwards;
  }

  div.heft.animate-out {
    animation: rotate-heft-out_mobile 0.75s forwards;
  }

  .flex-wrap div.heft .viewer__toolbar-slot {
    height: 30px;
    display: flex;
  }

  .flex-wrap div.heft .viewer__toolbar-slot .zoom {
    display: flex;
  }

  .App {
    position: absolute;
  }

  .App,
  .flex-wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .flex-wrap {
    display: block;
  }

  .cv {
    width: 100%;
    height: 100vh;
    margin: 0;
    transform: none;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    &.animate-in {
      animation: rotate-cv-in_mobile 1s forwards;
    }
    &.animate-out {
      animation: rotate-cv-out_mobile 0.5s forwards;
    }

    & .header {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      justify-content: end;
      width: 100%;
      gap: 8vw;
      height: 35px;
      justify-self: left;
      z-index: 2;
      padding-left: 0;
    }

    & .header__lebenslauf {
      position: absolute;
      left: 210px;
      font-size: 10px;
      width: 92px;
      height: 24px;
      padding: 6px;
    }

    & .controlls__opencv {
      width: 24px;
      padding-top: 4px;
      padding-left: 6px;
      display: block;
    }

    & .controlls__opencv img {
      width: 100%;
    }

    & .controlls__menu-button-expanded:hover {
      transform: scale(1);
    }

    & .controlls__tools-container-expanded {
      width: 176px;
      z-index: 1;
    }

    & .sections-wrap h3 span {
      margin-left: -40px;
    }

    & .sidebar {
      width: 196px;
    }

    & .sections-wrap {
      //left: -4px;
    }

    & .sections-wrap__contacts {
      font-size: 8px;
      left: -38px;
    }
    & .sections-wrap__contactme {
      width: 178px;
    }

    & .sections-wrap__contact-styles {
      font-size: 8px;
    }

    & .sections-wrap h3 {
      width: 90px;
    }

    &__sections {
      padding-left: 20px;
      top: -50px;
    }

    & .sections-wrap h3 span {
      margin-left: -64px;
    }

    & .aboutMe2 {
      display: none;
    }
    & .aboutMe {
      gap: 0;
    }

    & div.sections-wrap-about {
      margin-left: -30px;
    }

    &__block-fon {
      position: relative;
      top: -70px;
      height: 200px;
    }

    &__footer {
      position: relative;
    }
  }

  .cv .main-info {
    height: auto;
    padding-left: 28px;
    box-sizing: border-box;
    top: -40px;
    margin: 0;
    position: relative;
    z-index: 1;

    &__main-photo {
      width: 260px;
      height: 165px;
      background-size: 100%;
      background-repeat: no-repeat;
      border: 2px solid white;
      background-position: 0px -12px;
    }

    &__name {
      letter-spacing: 4px;
      font-size: 22px;
      margin: -10px 0 0 20px;
      line-height: 22px;
    }

    &__name-block {
      width: 400px;
      height: 114px;
      position: relative;
    }

    &__specialitat {
      font-size: 12px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      transform: none;
    }
  }
  @keyframes rotate-heft-in_mobile {
    from {
      //box-shadow: 13px 13px 2px -9px rgba(34, 60, 80, 0.29);
    }
    50% {
      transform: scale(0.2) translate(0, -7%);
      //
    }

    to {
      transform: translate(0, -15%) scale(1);
      //box-shadow: -2px 4px 100px 16px rgba(34, 60, 80, 0.11);
    }
  }

  @keyframes rotate-heft-out_mobile {
    from {
      //transform: translate(-0, -200px);
      transform: scale(1) translate(-0, -200px);

      animation-timing-function: cubic-bezier(0.88, 0.38, 0.99, 0.93);
    }

    75% {
      transform: scale(0.2) translate(400px, -800px) rotate(-32deg);
    }
    //rotate()

    to {
      transform: scale(0.19) translate(400px, -1000px) rotate(-45deg);
    }
  }
}

@keyframes rotate-cv-in_mobile {
  from {
    transform: skew(-10deg, 10deg) scale(0.3) translate(1200px, -350px)
      rotate(48deg);
  }
  50% {
    transform: scale(0.3);
    //
  }

  to {
    transform: skew(0deg, 0deg) scale(1) translate(1px);
    //box-shadow: -2px 4px 100px 16px rgba(34, 60, 80, 0.11);
  }
}

@keyframes rotate-cv-out_mobile {
  from {
    transform: skew(0deg, 0deg) scale(1);
    //box-shadow: -2px 4px 100px 16px rgba(34, 60, 80, 0.11);
    animation-timing-function: cubic-bezier(0.88, 0.38, 0.99, 0.83);
  }

  25% {
  }

  50% {
    //box-shadow: 13px 13px 2px -9px rgba(34, 60, 80, 0.29);
    //
  }

  75% {
  }

  to {
    //box-shadow: 13px 13px 2px -9px rgba(34, 60, 80, 0.29);
    transform: skew(-25deg, 25deg) scale(0.3) translate(810px, -320px);
  }
}

@page {
  size: auto;
  margin: 0mm;
}
