div.custom-intro-class {
  background-color: #f9eecd;
  color: #444444;
  min-width: unset;
  width: 400px;
  max-width: 600px;

  &.custom-intro-class-last-step {
    width: 500px;

    & div.introjs-arrow {
      border-bottom-color: transparent;
      border-top-color: transparent;
      border-right-color: #f9eecd;
    }

    & .introjs-tooltiptext {
      padding: 20px 10px 0;
      height: 126px;
    }
  }

  & .introjs-tooltip-header {
    position: static;
    padding: 0;
    min-height: 0;
  }

  & .introjs-tooltiptext {
    padding: 30px 10px 30px;
    font-family: "Prompt";
    line-height: 50px;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    height: auto;
  }

  & .introjs-tooltiptext label {
    position: absolute;
    bottom: -7px;
    left: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    gap: 5px;
    letter-spacing: 1.5px;
    font-size: 11px;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
  }

  & #dont-show-again {
    position: relative;
    top: 3px;
  }

  & .introjs-tooltip-title {
    display: none;
  }

  & .introjs-skipbutton {
    top: -5px;
    right: 5px;
    color: #480a0a;
    transition: transform 0.3s, color 0.3s;
    width: auto;
    height: auto;
    line-height: normal;
  }

  & .introjs-skipbutton:hover {
    transform: scale(1.1);
    color: #d75221;
  }

  & .introjs-tooltipbuttons a.introjs-nextbutton {
    background: #fff6da;
    color: #444;
    text-shadow: none;
    border: 1px solid #444;
    font-family: "Cinzel", serif;
    text-transform: lowercase;
    padding: 4px 21px;
    font-size: 12px;
    letter-spacing: 2px;
    transition: border 0.3s cubic-bezier(0, 1.84, 0.73, 0.81), color 0.3s,
      background-color 0.3s;
    outline: none;
    box-shadow: none;

    &:hover {
      border: 1px solid #fff6da;
      color: #fff6da;
      background: #444444;
    }

    &:focus {
      outline: none;
    }
  }

  & .introjs-tooltipbuttons a.introjs-donebutton:hover {
    border: 1px solid #4f983eb9;
    color: #a0d494;
    background: #444444;
  }

  & div.introjs-arrow {
    border-bottom-color: #fff6da;
    border-top-color: #fff6da;
  }

  & .introjs-tooltipbuttons {
    border-top: 1px solid #9e850e;
    padding: 16px;
    text-align: right;
    white-space: nowrap;
  }

  & .introjs-prevbutton {
    display: none;
  }

  & .introjs-nextbutton {
    float: none;
  }

  .introjs-prevbutton {
  }

  & .introjs-bullets ul li a {
    background-color: #866b4b;
  }

  & .introjs-bullets ul li a.active {
    background-color: #7c5332;
  }

  & .introjs-bullets ul li a:hover {
    background: #3f2619;
  }

  & .intro-highlight {
    border-radius: 6px;
  }

  & .zoom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
