#tooltip1,
#tooltip {
  background: linear-gradient(
    90deg,
    rgba(255, 240, 208, 1) 0%,
    rgba(255, 246, 224, 1) 47%,
    rgba(255, 243, 216, 1) 100%
  );
  opacity: 1;
  letter-spacing: 1.5px;
  color: rgb(92, 92, 92);
  border-left: 1px solid #e8cfc7;
  border-bottom: 1px solid #e4cac1;
  box-shadow: -2px 2px 3px -3px rgba(0, 0, 0, 0.5);
}

.controlls {
  padding-left: 50px;
  position: relative;

  &__tools-container {
    display: flex;
    justify-content: center;
    gap: 0;
    align-items: center;
    width: 30px;
    padding: 3px 4px 7px 1px;
    height: 24px;
    background: linear-gradient(336deg, #555555 0%, #272727 50%, #555555 100%);
    transition: width 0.4s cubic-bezier(0, 1.84, 0.73, 0.81);
  }

  &__tools-container-expanded {
    gap: 20px;
    padding: 4px 0 6px 4px;
    height: 24px;
    background: linear-gradient(336deg, #555555 0%, #272727 50%, #555555 100%);
    width: 170px;
  }

  &__iconWrap {
    height: 34px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__iconWrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  &__print {
    position: relative;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0, 1.84, 0.73, 0.81);
    cursor: pointer;
    margin-right: 6px;
  }

  &__opencv {
    width: 24px;
    padding-top: 4px;
    padding-left: 6px;
    display: none;
  }

  &__switchLang {
    position: relative;
    transition: transform 0.4s cubic-bezier(0, 1.84, 0.73, 0.81);
    cursor: pointer;
    transform: scale(1);
    width: 20px;
    border-radius: 50px;
  }

  &__menu-button {
    position: relative;
    left: 4px;
    top: 3px;
    border-radius: 50px;
    width: 20px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f4d644;
    gap: 4px;
    cursor: pointer;
    padding-top: 1.5px;
    transition: transform 0.4s cubic-bezier(0, 1.84, 0.73, 0.81);
  }

  &__menu-button-expanded {
    left: 0px;
    top: 7px;
  }

  &__menu-button-wrapper {
    width: 24px;
    height: 24px;
  }

  &__menu-button span {
    width: 3px;
    height: 3px;
    background-color: #f4d644;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }

  &__menu-button-expanded span {
    width: 24px;
    height: 1px;
    background-color: #ff3f3f;
    margin: 0;
    transition: transform 0.3s ease;
  }

  &__menu-button-expanded span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 4px);
  }

  &__menu-button-expanded span:nth-child(2) {
    opacity: 0;
  }

  &__menu-button-expanded span:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -5px);
  }

  &__tools-container img {
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.275);
  }

  &__tools-container .controlls__print {
    box-shadow: none;
  }

  &__switchLang:hover {
    transform: scale(1.1);
  }

  &__switchLang:active {
    transform: scale(0.9);
  }

  &__print:hover {
    transform: scale(1.1);
  }
  &__print:active {
    transform: scale(0.9);
  }

  &__menu-button:hover {
    transform: scale(1.3);
  }

  &__menu-button-expanded {
    transition: transform 0.17s ease-in 0.3s;
  }

  &__menu-button-expanded:hover {
    transform: rotate(90deg) scale(1.1);
  }

  &__menu-button:active {
    transform: scale(0.9);
  }
}
