.sections-wrap {
  color: white;
  position: relative;

  & h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 15px;
    color: #f4d644;
    border-bottom: 2px solid #f4d644;
    padding-bottom: 4px;
    font-family: "Cormorant Infant", serif;
    font-weight: 600;
    text-align: left;
    width: 160px;
    position: relative;
    right: -64px;

    & span {
      margin-left: -75px;
    }
  }

  &__accent-yellow {
    width: 80px;
    height: 5px;
    background-color: #f4d644;
    position: absolute;
    left: 0;
    top: 26px;
  }

  &__contacts {
    padding-left: 0;
    margin: -10px 0 5px 0;
    position: relative;
    left: -36px;
    width: 100%;
    height: 154px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }

  &__contact-title-email {
    cursor: pointer;
  }

  &__contactme {
    position: relative;
    margin-top: 2px;
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-left: 38px;
    width: 184px;

    & img {
      height: 15px;
      position: absolute;
      transition: transform 0.3s;
    }
    .sections-wrap__icon-border:hover img {
      transform: scaleX(-1);
      filter: sepia(0.5) saturate(100%) hue-rotate(90deg) brightness(1)
        contrast(1);
    }
  }

  &__contactme3 {
    margin-top: 14px;
  }

  &__contactme.copied {
    &:hover img {
      transform: scaleX(1);
    }
  }

  &__contactme.copied-tel {
    &:hover img {
      transform: scaleX(1);
    }
  }

  &__home-link,
  .sections-wrap__call-link {
    color: #fff;
  }

  &__call-link {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    color: white;
  }

  &__contact-title {
    position: absolute;
    top: 12px;
    right: -20px;
    letter-spacing: 2px;
    width: 170px;
  }

  &__contact-title-email-copied {
    top: 13px;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    color: #282727;
    background: white;
  }

  &__contact-title-tel-copied {
    top: 13px;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    color: #282727;
    background: white;
  }

  &__contact-styles {
    margin-bottom: -8px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__icon-border {
    border: 1px solid;
    border-radius: 50px;
    width: 14px;
    height: 14px;
    margin-top: 13px;
    display: flex;
    cursor: pointer;
    transition: border 0.3s;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 1px solid #f4d644;
    }
  }

  &__icon-border1 img {
    position: relative;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
  }

  &__icon-border2 img {
    position: relative;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
  }

  &__icon-border3 img {
    position: relative;
    left: 0;
    top: 0;
  }

  &__icon-border4 img {
    position: relative;
    left: 0;
    top: 0;
    width: 12px;
    height: 12px;
  }

  &__telegram-link {
    text-decoration: none;
    color: #fff;
  }
}
