.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: scroll 160s linear infinite alternate;
  white-space: nowrap;
  padding-top: 8px;
  gap: 20px;
  //transition: animation-duration 0.5s ease, animation-play-state 0.5s ease;

  &:after {
    content: "";
    display: block;
    width: 100%;
  }

  &__decor {
    font-family: "Cormorant Infant";
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    height: 30px;
    padding: 1px 0;
    color: #ffe66b;
    position: relative;
    top: 0px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    background: linear-gradient(90deg, #555555 0%, black 50%, #555555);
    border-top: 3px solid #f4dc64;
  }

  &__icon-title {
    font-family: "Cinzel";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: 600;
    display: block;
    text-align: center;
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px solid #d0ab26;
    transition: letter-spacing 0.3s;
  }

  &__icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    background: bisque;
    padding: 10px;
    border: 4px solid rgba(42, 14, 12, 0.6);
    text-align: center;
    margin: 0 auto;
    background: #28bfff;
    background: linear-gradient(90deg, #28bfff 0%, #c3ffdd 49%, #82cefd 100%);
    background: #d4c698;
    background: linear-gradient(90deg, #d4c698 0%, #fff6da 49%, #decb8e 100%);
    box-shadow: 0px 4px 6px 1px rgba(34, 60, 80, 0.33);
    width: 100px;
    height: 130px;
    transition: background 0.3s;
    &:hover {
      background: transparent;
    }
  }

  &__icon img {
    width: auto;
    height: 60px;
    transition: transform 0.3s;
  }

  &__icon:hover img {
    transform: scale(1.07);
  }

  &__icon:hover .carousel__icon-title {
    letter-spacing: 1px;
  }
}

/* Анимация для бесконечной прокрутки */
@keyframes scroll {
  0% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(-160%); /* Сдвигаем на половину ширины дубликата */
  }
}
