div.profile-title-de {
  letter-spacing: 3px;
}

.profile-title {
  height: 104px;
  margin-top: -108px;
  padding: 17px 20px;
  font-size: 14px;
  line-height: 22px;
  color: white;
  text-align: right;
  transition: letter-spacing 0.3s, 1s;

  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #a98500b8;
  grid-area: title;

  &__square {
    width: 47px;
    height: 10px;
  }

  &__cwars {
    border-radius: 4px;
    letter-spacing: 2px;
    &:hover {
      background: rgb(22, 23, 26);
      border: 1px solid rgba(255, 255, 255, 0.409);
      cursor: pointer;
    }
    &:hover .profile-title__cwars-t1 {
      opacity: 0;
    }

    &:hover .profile-title__cwars-t2 {
      opacity: 1;
      top: -10px;
      padding-top: 3px;
      line-height: 8px;
      letter-spacing: 2px;
      color: #cdd586;
      width: 100px;
    }

    &:hover .profile-title__cwars-img-cwars {
      opacity: 0;
    }

    &:hover .profile-title__cwars-img-kyu {
      transition: opacity 0.3s, top 0.3s;
      opacity: 1;
      top: 2px;
    }

    position: relative;
    background: rgba(255, 255, 255, 0.4901960784);
    margin-left: 37px;
    padding: 4px;
    height: 25px;
    overflow: hidden;
  }

  &__cwars-t1 {
    transition: opacity 0.3s, top 0.3s;
    position: absolute;
    top: -6px;
    left: 12px;
    font-size: 11px;
    opacity: 1;
  }

  &__cwars-t2 {
    transition: opacity 0.3s, top 0.3s;
    position: relative;
    top: 27px;
    left: 4px;
    font-size: 6px;
    line-height: 10px;
    text-align: left;
    color: #979797;
    opacity: 0;
  }
  &__cwars-img {
    height: 24px;
    width: 24px;
    top: 3px;
    right: 4px;
    position: absolute;
    transition: opacity 0.3s;
  }

  &__cwars-img-kyu {
    opacity: 0;
    width: 44px;
    right: -3px;
  }

  &__cwars-img-cwars {
    opacity: 1;
  }
}
