.cv {
  position: relative;
  display: grid;
  grid-template: 298px 0 260px 292px/200px 490px;
  grid-template-areas:
    "foto info "
    "title description "
    "contacts exp"
    "education exp";
  width: 690px;
  height: 850px;
  background-color: white;
  //box-shadow: 10px 10px 15px -8px rgba(0, 0, 0, 0.29);
  border-radius: 1px;
  margin: 15px 0 0 299px;

  & .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    transition: box-shadow 0.3s;
    box-shadow: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 16px 7px rgba(255, 255, 255, 1);
    }
  }

  &.animate-in {
    animation: rotare-cv-in 1.5s forwards;
  }

  &.animate-out {
    animation: rotare-cv-out 1s forwards;

    & .overlay {
      visibility: visible;
    }
  }
}

@keyframes rotare-cv-in {
  from {
    //box-shadow: 13px 13px 2px -9px rgba(34, 60, 80, 0.29);
    transform: skew(-10deg, 10deg) scale(0.3) translate(1200px, -350px)
      rotate(48deg);
  }
  50% {
    transform: scale(0.3);
    //
  }

  to {
    transform: skew(0deg, 0deg) scale(1) translate(1px);
    //box-shadow: -2px 4px 100px 16px rgba(34, 60, 80, 0.11);
  }
}

@keyframes rotare-cv-out {
  from {
    transform: skew(0deg, 0deg) scale(1);
    //box-shadow: -2px 4px 100px 16px rgba(34, 60, 80, 0.11);
    animation-timing-function: cubic-bezier(0.88, 0.38, 0.99, 0.83);
  }

  25% {
  }

  50% {
    //box-shadow: 13px 13px 2px -9px rgba(34, 60, 80, 0.29);
    transform: skew(-25deg, 25deg) scale(0.3) translate(810px, -320px);
    //
  }

  75% {
  }

  to {
    //box-shadow: 13px 13px 2px -9px rgba(34, 60, 80, 0.29);
    transform: skew(-10deg, 10deg) scale(0.3) translate(1200px, -350px)
      rotate(48deg);
  }
}
