.heftContainer {
  position: absolute;
  height: auto;
  width: 300px;

  & .overlay {
    position: absolute;
    width: 136px;
    height: 150px;
    top: 202px;
    left: 108px;
    box-shadow: none;
    cursor: pointer;
    opacity: 1;
    background-color: #fffbee;
    color: #6b6b6b;
    z-index: 1;
    transform: rotate(-42.5deg);
    transition: opacity 0.5s;
    user-select: none;

    &__span {
      font-family: "Waterfall", serif;
      font-weight: 600;
      font-style: normal;
      font-size: 28px;
      text-shadow: none;
      letter-spacing: 2px;
      width: 138px;
      height: auto;
      padding: 0;
      left: 0;
      position: absolute;
      top: 18px;
      user-select: none;
      color: rgb(71, 71, 71);
    }

    &__img {
      width: 83px;
      position: absolute;
      left: 26px;
      top: 30px;
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor;
    }
  }

  & .overlay.overlay-hidden {
    opacity: 0;
  }
}

.heft {
  background-image: url("/img/heft2.png");
  cursor: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -300px;
  top: 0px;
  text-align: center;
  width: 780px;
  height: 937px;
  transform: rotate(0);
  z-index: 1;
  border-radius: 14px;
  background-size: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
  transform: scale(0.2) translate(400px, -1000px) rotate(-42deg);
  overflow: hidden;

  &__magnifier-img-container {
    position: relative;
  }

  &__magnifier-img {
    width: 96.9%;
    position: absolute;
    top: 32px;
    left: 8px;
    z-index: 2;
    opacity: 0;
  }

  &__magnifier-img-active {
    opacity: 1;
  }

  & .image-part-bottom {
    position: absolute;
    transform: rotate(-0.2deg);
    width: 100.5%;
    height: 200px;
    bottom: -154px;
    left: 0px;
    transition: box-shadow 0.3s;
    box-shadow: none;
    visibility: visible;
    cursor: pointer;
    background-image: url("/img/heft2.png");
    visibility: visible;
    opacity: 1;
    background-size: 99%;
    background-position: -2px -1105px;
    background-repeat: no-repeat;
    transform: rotate(0deg);
  }

  & .viewer {
    position: absolute;
    transform: rotate(-0.2deg);
    width: 88%;
    height: 84%;
    top: 143px;
    left: 36px;
    background: #fff;
    overflow: hidden;

    &__toolbar-slot {
      display: flex;
      background: #fff;
    }
  }

  &.animate-out {
    animation: rotare-heft-out 0.75s forwards;
  }

  &.animate-in {
    animation: rotare-heft-in 1s forwards;

    .cls {
      display: block;
    }

    & .overlay {
      visibility: hidden;
      opacity: 0;
    }
  }

  @keyframes rotare-heft-in {
    from {
      //box-shadow: 13px 13px 2px -9px rgba(34, 60, 80, 0.29);
    }
    50% {
      transform: scale(0.2) translate(1200px, -350px);
      //
    }

    to {
      transform: translate(40%, -6%);
      //box-shadow: -2px 4px 100px 16px rgba(34, 60, 80, 0.11);
    }
  }

  @keyframes rotare-heft-out {
    from {
      //transform: translate(-0, -200px);
      transform: scale(1) translate(-0, -200px);

      animation-timing-function: cubic-bezier(0.88, 0.38, 0.99, 0.93);
    }

    75% {
      transform: scale(0.21) translate(400px, -800px) rotate(-32deg);
    }
    //rotate()

    to {
      transform: scale(0.2) translate(400px, -1000px) rotate(-42.5deg);
    }
  }

  .cls {
    cursor: pointer;
    display: none;
    top: 100px;
    position: absolute;
    right: 27px;
    font-size: 18px;
    border: 1px groove #717171;
    border-radius: 4px;
    padding: 2px 6px 2px 6px;
    box-sizing: border-box;
    transition: border 0.3s, color 0.3s, border-radius 0.3s,
      transform 0.6s cubic-bezier(0, 1.84, 0.73, 0.81);
    background: transparent;
    color: #636363;
    user-select: none;
  }

  .cls:hover {
    transform: rotate(90deg) scale(1.1);
    border: 1px dashed #f24d4d94;
    color: #f24d4d;
    border-radius: 6px;
  }

  .cls:active {
    transform: scale(0.9);
  }

  & .rpv-core {
    &__inner-page {
      background: transparent;
    }

    &__page-layer--single::after {
      content: none;
    }
  }
}

.pdf-container {
  width: auto;
  height: auto;
}

div.rpv-full-screen__exit-button {
  right: 1px;
  top: 1px;
  border: 1px solid;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: (0, 2, 2, 1);
  box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.75);
}
