.heft {
  background-image: url("/img/heft2.png");
  cursor: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  top: 0px;
  text-align: center;
  width: 580px;
  height: 930px;
  transform: rotate(0);
  z-index: 1;
  border-radius: 14px;
  background-size: 100%;
  background-position-x: center;
  transform: scale(0.25) translate(-597px, -700px) rotate(-42deg);

  & .overlay {
    position: absolute;
    transform: rotate(-0.2deg);
    width: 93%;
    height: 81%;
    top: 116px;
    left: 23px;
    transition: box-shadow 0.3s;
    box-shadow: none;
    visibility: visible;
    cursor: pointer;
  }

  & .overlay:hover {
    box-shadow: 0px 0px 16px 7px rgba(255, 255, 255, 1);
  }

  & .viewer {
    position: absolute;
    transform: rotate(-0.2deg);
    width: 91%;
    height: 80%;
    top: 116px;
    left: 18px;
    background: #fff;
    overflow: hidden;

    &__toolbar-slot {
      display: flex;
      background: #fff;
    }
  }

  &.animate-out {
    animation: rotare-heft-out 1s forwards;
  }

  &.animate-in {
    animation: rotare-heft-in 1.5s forwards;

    .cls {
      display: block;
    }

    & .overlay {
      visibility: hidden;
      opacity: 0;
    }
  }

  @keyframes rotare-heft-in {
    from {
      //box-shadow: 13px 13px 2px -9px rgba(34, 60, 80, 0.29);
    }
    50% {
      transform: scale(0.3) translate(1200px, -350px);
      //
    }

    to {
      transform: translate(40%, -6%);
      //box-shadow: -2px 4px 100px 16px rgba(34, 60, 80, 0.11);
    }
  }

  @keyframes rotare-heft-out {
    from {
      transform: translate(67%, 0%);
      animation-timing-function: cubic-bezier(0.88, 0.38, 0.99, 0.83);
    }

    50% {
      transform: scale(0.25) translate(-430px, -587px) rotate(-10deg);
    }

    to {
      transform: scale(0.25) translate(-597px, -700px) rotate(-42deg);
    }
  }

  .cls {
    cursor: pointer;
    display: none;
    top: 70px;
    position: absolute;
    right: 15px;
    font-size: 18px;
    border: 1px groove #717171;
    border-radius: 4px;
    padding: 2px 6px 2px 6px;
    box-sizing: border-box;
    transition: border 0.3s, color 0.3s, border-radius 0.8s, transform 0.6s;
    background: transparent;
    color: #636363;
  }

  .cls:hover {
    transform: rotate(90deg);
    border: 1px dashed #f24d4d94;
    color: #f24d4d;
    border-radius: 6px;
  }

  & .rpv-core {
    &__inner-page {
      background: transparent;
    }

    &__page-layer--single::after {
      content: none;
    }
  }
}

.pdf-container {
  width: auto;
  height: auto;
}
